
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>CONTACT</h2>
                <p>LIVIN RINOSHIYA</p><br>
                <p>
 
 
                    <em class="fas fa-envelope"></em>livinshibin@gmail.com</p><br>
                    <p><em class="fas fa-phone-alt"></em>9876345109</p><br>
                    <p>A Decent 1BHK house with good interior designs and modular kitchen , 2 attached restrooms , beach view balcony and there are both 2 wheeler and 4wheeler parking facilities</p><br>
				
				<a href="apply" class="apply">APPLY</a>

			</div>
		</div>
	</div>

