<section>
     <div class="register">
     <h3>REGISTER TO <span>GET STARTED</span></h3>

     <div class="sign">
      <div class="container">

       <form [formGroup]="loginForm" (ngSubmit)="login(this.loginForm.value)">

          <div class="form-group">
               <em class="fa fa-user"></em>
               <label for="name"></label>
               <input
                type="text"
                placeholder="Name"
                formControlName="name"
               />
               <span
                class="text-danger"
                *ngIf="
                 loginForm.controls.name.errors &&
                 loginForm.controls.name.touched
                "
                ><br />Enter your name</span
               >
              </div>
          




        <div class="form-group">
         <em class="fa fa-envelope"></em>
         <label for="email"></label>
         <input
          type="email"
          placeholder="Email Address"
          formControlName="email"
         />
         <span
          class="text-danger"
          *ngIf="
           loginForm.controls.email.errors &&
           loginForm.controls.email.touched
          "
          ><br />Invalid Email Address</span
         >
        </div>
    
        <div class="form-group">
         <em class="fa fa-lock"></em>
         <label for="password"></label>
         <input
          type="password"
          placeholder="Password"
          formControlName="password"
         />
         <span
          class="text-danger"
          *ngIf="
           loginForm.controls.password.errors &&
           loginForm.controls.password.touched
          "
          ><br />Invalid Password</span
         >
        </div>
        <div class="form-group">
          <em class="fa fa-map-marker"></em>
          <label for="address"></label>
          <input
           type="text"
           placeholder="Enter your city"
           formControlName="address"
          />
          <span
           class="text-danger"
           *ngIf="
            loginForm.controls.address.errors &&
            loginForm.controls.address.touched
           "
           ><br />Enter the address</span
          >
         </div>
     
    
        <div class="signup">
         <label for="signup"
          >Already have an Account? <a href="login">Login</a></label
         >
        </div>
    
        <div class="text-center">
         <button id="submitButton" type="submit" class="btn">SIGN UP !</button>
        </div>
       </form>
      </div>
    
      <div class="image">
       <img class="img" src="../../assets/cover.jpg" alt="img" />
      </div>
      </div>
     </div>
    </section>
    
    
