<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <app-lists></app-lists> -->
<!-- <app-contact></app-contact> -->
<!-- <app-postad></app-postad> -->
<!-- <app-agreement-upload></app-agreement-upload> -->
<!-- <app-testing></app-testing> -->
<!-- <app-aboutus></app-aboutus> -->
<!-- <app-services></app-services> -->
<!-- <app-rentalapplication></app-rentalapplication> -->
<!-- <app-house1></app-house1> -->
<!-- <app-services2></app-services2> -->
<!-- <app-serviceform></app-serviceform> -->
<!-- <app-test></app-test> -->
<!-- <app-addform></app-addform> -->
<!-- <app-selectprop></app-selectprop> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-formtype></app-formtype> -->