<section>
    <div class="container">
      <form [formGroup]="loginForm" (ngSubmit)="login(this.loginForm.value)">
        <div class="form-group">
          <em class="fa fa-envelope"></em>
          <input
            type="email"
            id="email"
            placeholder="Email Address"
            formControlName="email"
          />
          <span
            class="text-danger"
            *ngIf="
              loginForm.controls.email.errors && loginForm.controls.email.touched
            "
            ><br />Invalid Email Address</span
          >
        </div>
  
        <div class="form-group">
          <em class="fa fa-lock"></em>
          <label for="password"></label>
          <input
            id="password"
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <span
            class="text-danger"
            *ngIf="
              loginForm.controls.password.errors &&
              loginForm.controls.password.touched
            "
            ><br />Invalid Password</span
          >
        </div>
  
        <div class="login-btn">
          
          <!-- <button id="submitButton" type="submit" class="btn">LOGIN</button> -->
          <a href="house1">APPLY</a>
        </div>
      </form>
    </div>
  </section>
