


    <div class="main">
    
     <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="../../assets/doorlock.jpg">
    </div>
    <div class="title">
     <h1>
    DOOR LOCK WORKS</h1>
    </div>
    <div class="des">
     <p>Apply to reapir your door related problem easily..</p><br>
   <!-- <a href="serviceform" class="serviceform">GET HELP</a> -->
    <a href="serviceform" class="serviceform">GET HELP</a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="../../assets/cleaning.jpg">
    </div>
    <div class="title">
     <h1>
    CLEANING WORK</h1>
    </div>
    <div class="des">
     <p>Apply to finish the cleaning works easily..</p><br>
   <a href="serviceform" class="serviceform">GET HELP</a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="../../assets/cooking.jpg">
    </div>
    <div class="title">
     <h1>
    KITCHEN VENT</h1>
    </div>
    <div class="des">
     <p>Apply to repair your kitchen vent easily..</p><br>
   <a href="serviceform" class="serviceform">GET HELP</a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
        <div class="image">
           <img src="../../assets/gardening.jpg">
        </div>
        <div class="title">
         <h1>
        GARDENING WORK</h1>
        </div>
        <div class="des">
         <p>Apply to finish the gardening works easily..</p><br>
       <a href="serviceform" class="serviceform">GET HELP</a>
        </div>
        </div>
    <div class="card">
    
    <div class="image">
       <img src="../../assets/Sewer-Cleaning-Ridgewood-NJ.jpg">
    </div>
    <div class="title">
     <h1>
    DRAINAGE WORKS</h1>
    </div>
    <div class="des">
     <p>Apply to get your drainage clean easy..</p><br>
   <a href="serviceform" class="serviceform">GET HELP</a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="../../assets/electrical.jpg">
    </div>
    <div class="title">
     <h1>
    ELECTRICAL WORKS</h1>
    </div>
    <div class="des">
     <p>Apply to finish your electrical works soon..</p><br>
   <a href="serviceform" class="serviceform">GET HELP</a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="../../assets/flooring.jpg">
    </div>
    <div class="title">
     <h1>
    FLOORING WORKS</h1>
    </div>
    <div class="des">
     <p>Apply to finish your flooring works soon..</p><br>
   <a href="serviceform" class="serviceform">GET HELP</a>
    </div>
    </div>
    <!--cards -->
    
    <div class="card">
    
    <div class="image">
       <img src="../../assets/box.jpeg">
    </div>
    <div class="title">
     <h1>
    PACKING WORKS</h1>
    </div>
    <div class="des">
     <p>Apply to pack your things easy..</p><br>
   <a href="serviceform" class="serviceform">GET HELP</a>
    
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="../../assets/painter.jpeg">
    </div>
    <div class="title">
     <h1>
    PAINTING WORKS</h1>
    </div>
    <div class="des">
     <p>Apply to make your dream home colourful..</p><br>
   <a href="serviceform" class="serviceform">GET HELP</a>
    </div>
    </div>
    <!--cards -->
    
    
    <div class="card">
    
    <div class="image">
       <img src="../../assets/plumbing.jpeg">
    </div>
    <div class="title">
     <h1>
PLUMBING WORKS</h1>
    </div>
    <div class="des">
     <p>Apply to finush your plumbing works soon</p><br>
   <a href="serviceform" class="serviceform">GET HELP</a>
    </div>
    </div>
      
    <div class="card">
    
        <div class="image">
           <img src="../../assets/wooden.jpg">
        </div>
        <div class="title">
         <h1>
        CARPENTING WORKS</h1>
        </div>
        <div class="des">
         <p>Apply to finish your carpenting works soon..</p><br>
       <a href="serviceform" class="serviceform">GET HELP</a>
        </div>
        </div>
        <div class="card">
    
            <div class="image">
               <img src="../../assets/ac-repair-technician-air-conditioner-maintenance-service-223791070.jpg">
            </div>
            <div class="title">
             <h1>
            AC REPAIR WORKS</h1>
            </div>
            <div class="des">
             <p>Apply to get your AC repaired soon..</p><br>
           <a href="serviceform" class="serviceform">GET HELP</a>
            </div>
            </div>
    </div>