<h3>POST YOUR PROP AT <span>SIMPLE STEPS</span></h3>
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="postForm" (ngSubmit)="saving(this.postForm.value)">
            <div class="form-group">
                <label for="name" class='name'></label>
          <em class="fa fa-user"></em>

                <input type="text" placeholder="Enter your name" formControlName="name">
                <span class="text-danger" *ngIf="postForm.controls.name.errors && postForm.controls.name.touched"><br>Field cant be empty</span>
              </div>
 <div class="form-group">
            <label for="email" class='mail'></label>
          <em class="fa fa-envelope"></em>

            <input type="email" placeholder="Email Address" formControlName="email">
            <span class="text-danger" *ngIf="postForm.controls.email.errors && postForm.controls.email.touched"><br>*invalid Email Address</span>
          </div>

          <div class="form-group">
            <label for="phone" class='phone'></label>
          <em class="fa fa-phone"></em>

            <input type="number" placeholder="Contact number" formControlName="phone">
            <span class="text-danger" *ngIf="postForm.controls.phone.errors && postForm.controls.phone.touched"><br>*phone number cannot be cmpty</span>
          </div>

          
          <div class="form-group">
            <label for="addressform" class='address'></label>
          <em class="fa fa-map-marker"></em>

            <input type="text" placeholder="Address of the property" formControlName="address">
            <span class="text-danger" *ngIf="postForm.controls.address.errors && postForm.controls.address.touched"><br>Enter your Current Address</span>
          </div>
        
          <div class="form-group">
            <label for="landmark" class='landmark'></label>
            <em class="fa fa-location-arrow"></em>
            <input type="text" placeholder="Nearest Landmark" formControlName="landmark">
            <span class="text-danger" *ngIf="postForm.controls.landmark.errors && postForm.controls.landmark.touched"><br>*landmark cannot be empty</span>
          </div>
        
         
          
        </form>
      </div>
       <div class="img">
        
         
          <div class="form-group-f1">
            <label for="typeofprop" class='typeofprop'></label>
            <em class="fa fa-building"></em>

            <input type="text" placeholder="Type of the property" formControlName="typeofprop">
            <span class="text-danger" *ngIf="postForm.controls.typeofprop.errors && postForm.controls.typeofprop.touched"><br>*specify the property type</span>
          </div>
          <div class="form-group-f1">
            <label for="rent" class='rent'></label>
            <em class="fa fa-credit-card"></em>

            <input type="text" placeholder="Rent/month" formControlName="rent">
            <span class="text-danger" *ngIf="postForm.controls.rent.errors && postForm.controls.rent.touched"><br>*specify the rent</span>
          </div>
          <div class="form-group-f1">
            <label for="description" class='description'></label>
            <em class="fa fa-pen"></em>

            <input type="text" placeholder="Description about your property" formControlName="description">
            <span class="text-danger" *ngIf="postForm.controls.description.errors && postForm.controls.description.touched"><br>*field cannot be empty</span>
          </div>
          <div class="form-group-f1">
            <label for="fileUpload"></label>
            <em class="fa fa-upload"></em>

            <input type="text" id="fileUpload"  placeholder="Add image" formControlName="upload">
          
          </div>
          <div class="text-center">
            <button id="submitButton" type="submit" class="btn btn-primary" >POST</button>
          </div>
      </div> 
    
    </div>
  </div>