h3{
  text-align: center;
  font-size: 30px;
}
   
   .form-group{
    width: 60%;
    overflow: hidden;
    font-size: 20px;
    padding: 28px 20px;
    margin: 8px 0;
    border-bottom: 1px solid goldenrod;
    margin-left: 150px;
    display: flex;
    
  }
  .form-group-f1{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 28px 0;
    margin: 8px 0;
    border-bottom: 1px solid goldenrod;
    margin-left: 270px;
  }
  input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 300px;
    float: left;
    margin: 0 10px;
  }
  
  .form-group label {
    width: 40px;
    float: left;
    text-align: left;
  }
  .btn {
   
    display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      max-width: 200px;
      width: 100%;
      border: none;
      outline: none;
      color: #fff;
      border-radius: 5px;
      margin: 25px 265px;
      background-color:goldenrod;
      transition: all 0.3s linear;
      cursor: pointer;
  }
  .text-success {
    color:black;
  }
  .row{
    display: flex;
  }
  .img img{
    padding-top: 70px;
    width: 550px;
    height: 300px;
    padding-left: 50px;
  }
  .form-group em ,
  .form-group-f1 em {
    width: 35px;
    float: left;
    text-align: center;
    color: #222;
  }