<link
rel="stylesheet"
href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
/>
    
    <div class="example">
      <img  class="background-image" src="../../assets/abc.jpg" height="500" alt="home">
      <div class="overlay">
        GET<span>PROP</span><br>ADORN <span> YOUR</span> HOME<span> TODAY</span>
      </div>
    </div>
  

    <div class="main-container">
      <h2>BUY OR SELL YOUR PROP AT <span class="click">ONE CLICK</span></h2>
      <div class="radio-buttons">
        <label class="custom-radio">
          <input type="radio" routerLink="/buytypeofprop" name="radio"  />
          <span class="radio-btn"
            ><em class="las la-check"></em>
            <div class="hobbies-icon">
              <em class="las la-home"></em>
              <h3>BUY</h3>
            </div>
          </span>
        </label>
        <label class="custom-radio">
          <input type="radio" routerLink="/sell" name="radio" checked />
          <span class="radio-btn"
            ><em class="las la-check"></em>
            <div class="hobbies-icon">
              <em class="las la-building"></em>
              <h3>SELL</h3>
            </div>
          </span>
        </label>
        <label class="custom-radio">
          <input type="radio" routerLink="/contact" name="radio"  />
          <span class="radio-btn"
            ><em class="las la-check"></em>
            <div class="hobbies-icon">
              <em class="las la-comment-dots"></em>
              <h3>QUERIES</h3>
            </div>
          </span>
        </label>
       
      </div>
    </div>



<div class="container1">
   
    <div class="thumbanail left">
       <img src="../../assets/cover.jpg" alt="" />
    </div>
    <h4>The Efficient Way To Run Your Property</h4><br><br>
    <p>
      A fully-integrated cloud property management system that makes life easier.</p>
     <p> Our property management system offers the unique ability to provide real-time online booking functionality, which enables the collection of bookings from a property’s website, the global distribution system and an expansive variety of third-party travel websites.

      Trusted by more than 6,000 properties across 45 countries, our unrivalled software offers everything you need to successfully run your business.
      
      We continually enhance our product to keep you at the forefront of innovation. Here's what we achieved in 2020.
      
           </p>
 </div>


<div class="video">
  <p>" A fully-integrated property management system that makes <br><span>life easier</span>"</p>

  <iframe src="../../assets/Property Ad Video Template (Editable).mp4" width="900" height="500" autoplay title="video"></iframe>
</div>

  
  <div class="wrapper">
    <div class="box">
      <em class="fas fa-quote-left quote"></em>
      <p>Wow ! I am really amazed. The processing of leads is very fast and can find properties easily.</p>
      <div class="content">
        <div class="info">
          <div class="name">USHA</div>
          <div class="job">Designer | Developer</div>
          <div class="stars">
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="far fa-star"></em>
            <em class="far fa-star"></em>
            <em class="far fa-star"></em>
          </div>
        </div>
        <div class="image">
          <img src="../../assets/women1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <em class="fas fa-quote-left quote"></em>
      <p>Excellent service and an equally involved team. I opted for an relaxed plan abd got a good deal on my property.Highly recommended.</p>
      <div class="content">
        <div class="info">
          <div class="name">MANI</div>
          <div class="job">YouTuber | Blogger</div>
          <div class="stars">
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="far fa-star"></em>
            <em class="far fa-star"></em>
          </div>
        </div>
        <div class="image">
          <img src="../../assets/men1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <em class="fas fa-quote-left  quote"></em>
      <p>The service was very great and professional.I got many suggestions according to my requirement.</p>
      <div class="content">
        <div class="info">
          <div class="name">ANANDH</div>
          <div class="job">Freelancer | Advertiser</div>
          <div class="stars">
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="far fa-star"></em>
          </div>
        </div>
        <div class="image">
          <img src="../../assets/men2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>