*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 
  h2{
padding-bottom: 400px;
margin-top: 70%;
padding-left: 40px;


 }
  h2 .click{
    color: goldenrod;
    font-size: 40px;
    text-align: center;
    /* margin-left: 400px; */
    
  }
  header{
    position: relative;
    z-index: 2;
    background-color: #222;
    height: 120px;
  }

  .header-inner h2,
  .search-container,
  .nav-menu {
    margin-top: -40px;
    /* margin-right: auto; */
  }
  .header-inner{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    color: #fff;
    margin-left: -40px;
    /* margin-top: ; */
    font-size: 28px;
  }
  .logo span{
    color:goldenrod;
    font-size: 40px;
    line-height: 80%;
  }
  .bars{
    font-size: 50px;
    color: #fff;
    display: none;
    cursor: pointer;
    transition: color 0.6s ease;
  }
  .bars:hover{
    color:goldenrod;
  }
  
  .nav-link
  {
    /* margin-left: 30px; */
    padding-left: 40px;
    color: #fff;
    text-decoration: none;
    transition: color 0.6s ease;
  }
  .nav-signup{
    margin-left: 50px;
    /* font-size: 20px; */
    padding: 0%;
    color:goldenrod;
    text-decoration: none;
    transition: color 0.6s ease;
  }
  .nav-link:hover,
  .nav-signup:hover{
    color:goldenrod;
  }
  .mobile-menu{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #222;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    pointer-events: none;
  }
 
  .slider-frame {
    overflow:visible;
    height: 800px;
    width: 1200px;
    margin-left: 10px;
    margin-top: 20px;

}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 90px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.example img {
  width: 100%;
  position: relative;
  opacity: 0.7;
  /* margin-top: -700px; */
}

.example .overlay {
  position: relative;
  bottom: 150px;
  right: 900px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
}
.overlay span{
  color:goldenrod;
}



.header-inner .search-container {
  float: right;
}

.header-inner input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 25px;
  width: 300px;
}

.header-inner .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 50px;
background-color:goldenrod;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.header-inner .search-container button:hover {
  background: #ccc;
}
.cardbg{
  background-color: #222;
}


.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
  margin-bottom: 30px;
  /* margin-bottom: 800px; */
}


 .video {
  /* padding-left: 40%; */
  display: flex;
  margin-right: 40px;
  
}
.video p{
  margin-top: 180px;
  font-size: 50px;
  margin-left: 40px;
  /* padding-right: 500px; */
}
.video p span{
  margin-left: 200px;

}


/* services */

:root {
  --color-main-background: hsl(233, 47%, 7%);
  --color-card-background: hsl(244, 38%, 16%);
  --color-accent: hsl(277, 64%, 61%);
  --color-white-opaque: hsl(0, 0%, 100%);
  --color-white-transparent75: hsla(0, 0%, 100%, 0.75);
  --color-white-transparent60: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: sans-serif;
  margin-top: -100px;
  /* background-color: hsl(233, 47%, 7%); */
}

.container {
  margin: 0 auto;
  width: 85%;
  text-align: center;
  margin-top: -60%;
}

.card {
  background-color:#333;
  margin-top: 4rem;
  border-radius: 0 0 8px 8px;
}

.hero__img {
  width: 100%;
  min-height: 30vh;
  background-color: var(--color-accent);
  background-image: url("../../assets/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 8px 8px 0 0;
}

.col__two {
  margin: 2rem auto;
  width: 80%;
}

.hero__title {
  font-size: 1.6rem;
  color:  hsl(0, 0%, 100%);
  line-height: 1.2;
}

.hero__title--highlight {
  color: goldenrod;
}

.hero__text {
  margin: 1.3em auto;
  font-size: 0.9rem;
  color:  hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
}

.col__three {
  padding-bottom: 2rem;
}

.hero__stat {
  color:  hsl(0, 0%, 100%);
}

.hero__stats__heading {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.7rem;
  margin: 0.5em 0 1.4em 0;
}

.attribution {
  margin-top: 3rem;
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* css for filter */
.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -220px;

}

.main-container h2 {
  margin: 0 0 80px 0;
  color:black;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.radio-buttons {
  width: 100%;
  text-align: center;
  /* padding-left: 15px; */
  margin-right: 100px;
  padding-top:10px;
  margin-top: -450px;
  

}

.custom-radio input {
  display: none;
}

.radio-btn {
  /* margin: 1px; */
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #222;
  cursor: pointer;
  margin-left: 120px;
  
}

.radio-btn > em {
  color: #ffffff;
  background-color: #333;
  font-size: 20px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50px;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.radio-btn .hobbies-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon em {
  color: #333;
  line-height: 80px;
  font-size: 60px;
}

.radio-btn .hobbies-icon h4 {
  color: #222;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.custom-radio input:checked + .radio-btn {
  border: 3px solid goldenrod;
}

.custom-radio input:checked + .radio-btn > em {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}





.main{
  margin: auto;
  width: 50%;
}
.main input,button{
  width:75%;
  border:2px solid black;
  border-right:0px;
  font-size: 18px;
  padding:12px;
  background-color: transparent;
  /* color:white; */
}
.main input:hover{
  opacity: .8;
}
.main button{
  width:25%;
  background-color: #eee;
  border:2px solid black;

  color:black;
  transition: all 0.3s;
  float: right;
  border-left:0px;
}
.main button:hover{
  opacity: .8;
}




::selection{
  background: rgba(23,162,184,0.3);
}
.wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px solid black;
  /* padding-top: -2 */
}
.wrapper .box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
  font-size: 20px;
  color: goldenrod;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: goldenrod;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color:goldenrod;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: goldenrod;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333;
}
.box:hover .content .image img{
  border-color: #fff;
}
@media (max-width: 1045px) {
  .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box{
    width: 100%;
  }
}





.container1
{
padding:30px;
font-size:16px;
font-weight:300;
line-height:24px;
margin-top: -150px;
}
h4{
  font-size: 40px;
  margin-top: 30px;
}
h4 span{
  color: goldenrod;
  font-size: 50px;
}
.container1 p
{
margin-bottom:15px;
line-height: 30px;

}
.thumbanail
{
width:450px;
position:relative;
box-shadow:0 0 5px rgba(0,0,0,.4);
background-color:#fff;
overflow:hidden;
border-radius:8px;
margin-bottom:10px;
}
.thumbanail:before
{
content:'';
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
border:8px solid #fff;
z-index:2;
overflow:hidden;
box-sizing:border-box;
}
.thumbanail img
{
width:100%;
height:auto;
border-radius:8px;
transform:scale(1) rotate(0deg);
transition:all .5s linear;
}
.thumbanail:hover img
{
transform:scale(1.1) rotate(-5deg);
}
.thumbanail.right
{
float:right;
margin-left:20px;
}
.thumbanail.left
{
float:left;
margin-right:20px;
}
@media screen and (max-width:767px)
{
.thumbanail.right
{
float:none;
margin-left:0px;
}
.thumbanail.left
{
float:none;
margin-right:0px;
}
.thumbanail{
width:100%;
}
}


a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid goldenrod;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
  