
  
    <div class="container">
        <header>POST YOUR PROPERTY</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>First Name</label>
                            <input type="text" placeholder="Enter your first name" required>
                        </div>

                        <div class="input-field">
                            <label>Last Name</label>
                            <input type="text" placeholder="Enter your Last name" required>
                        </div>
                        <div class="input-field">
                          <label>Gender</label>
                          <select required>
                              <option disabled selected>Select gender</option>
                              <option>Male</option>
                              <option>Female</option>
                              <option>Others</option>
                          </select>
                      </div>

                       
                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>

                        <div class="input-field">
                          <label>Email</label>
                          <input type="text" placeholder="Enter your email" required>
                      </div>


                        <div class="input-field">
                            <label>Aadhar Number</label>
                            <input type="text" placeholder="Enter your ccupation" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title">Property Details</span>

                    <div class="fields">
                        <!-- <div class="input-field">
                            <label>ID Type</label>
                            <input type="text" placeholder="Enter ID type" required>
                        </div> -->
                        <div class="input-field">
                          <label>Property type</label>
                          <select required>
                              <option disabled selected>Select property type</option>
                              <option>Land</option>
                              <option>Apartment</option>
                              <option>Independent villa</option>
                              <option>Farm House</option>
                              <!-- <option>FarmHouse</option> -->
                              <option>Others</option>
                          </select>
                      </div>

                        <!-- <div class="input-field">
                            <label>ID Number</label>
                            <input type="number" placeholder="Enter ID number" required>
                        </div> -->
                        <div class="input-field">
                          <label>Sales Type</label>
                          <select required>
                              <option disabled selected>Im looking to</option>
                              <option>Sell</option>
                              <option>Rent/Lease</option>
                              <option>PG</option>
                          </select>
                      </div>

                        <div class="input-field">
                            <label>Location</label>
                            <input type="text" placeholder="Enter issued authority" required>
                        </div>

                        <div class="input-field">
                            <label>Address 1</label>
                            <input type="text" placeholder="Door no./House " required>
                        </div>

                        <div class="input-field">
                            <label>Address 2</label>
                            <input type="text" placeholder="street name/Area name" required>
                        </div>

                        <div class="input-field">
                            <label>Landmark</label>
                            <input type="text" placeholder="Specify the landmark" required>
                        </div>
                    </div>

                    <button class="post">
                        <span class="btnText">POST</span>
                        <!-- <i class="uil uil-navigator"></i> -->
                    </button> 
                </div> 
            </div>

        </form>
    </div>

 