<!-- <p>ownerdetaillogin works!</p> -->

<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="loginForm">
  
          <div class="form-group">
            <label for="email" class='fa fa-envelope'></label>
            <input type="email" placeholder="Email Address" formControlName="email">
            <span class="text-danger" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched"><br>Invalid Email Address</span>
          </div>
  
          <div class="form-group">
            <label for="password" class="fa fa-lock"></label>
            <input type="password" placeholder="Password" formControlName="password">
            <span class="text-danger" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched"><br>Invalid Password</span>
          </div>
  
          <div class="text-center">
            <button id="submitButton" type="submit" class="btn btn-primary" routerLink="/house1" (click)="login(this.loginForm.value)">Login</button>
          </div>
          <!-- <div class="text-center">
           <label for="login" class="text-dark"
            >Don't Have a Account?
            <a routerLink="/signup" class="text-danger">Signup</a></label
           > -->
          <div class="text-center text-success" *ngIf="successMessage">{{successMessage}}</div>
          <div class="signup text-center">
           <label for="signup" class="text-dark"
            >Don't Have a Account?
            <a routerLink="/signup" class="text-danger">Signup</a></label
           >
           </div>
        </form>
      </div>
      <div class="img">
        <img src="../../assets/cover2.jpg">
      </div>
    </div>
  </div>
  
  