<h3>BUY YOUR DREAM PROP - <span>SERVICE WITH A LIFESTYLE</span></h3>
<div class="prev">
  <a href="buytypeofprop">PREV</a>
</div>

<div class="grid">
  <ng-container *ngFor="let item of commercialList | filter:searchKey:'address'">
   <div class="grid-item">
      <div class="card">
        <img class="card-img" src="{{item.upload}}" alt="Rome" />
        <div class="card-content">
            <h6 class="card-header">{{item.address}}</h6>
          <p class="card-text"> OWNED BY
            {{item.name}}
          
          </p>
          <button routerLink="getcontact" (click)="event(item)">GET CONTACT</button>

        </div>
      </div>
    </div>
   
   



