
    <section class="about">
        <div class="main">
            <img src="../../assets/1.-property-management-services-1 (1).gif" alt="gif">
            <div class="about-text">
                <h4>ABOUT <span>US</span></h4>
                <h5>SERVICE WITH A <span>LIFESTYLE</span></h5>
                <p>Property management systems are used to manage, control and account for personal property. Property is defined as the equipment, tooling and physical capital assets that are acquired and used to build, repair and maintain end item deliverables. Property Management involves the processes, systems and manpower required to manage the life cycle of all acquired property as defined above including Acquisition, Control, Accountability, Maintenance, Utilization, and disposition.</p>
                <a href="contact2"  class="contact2">Let's Connect</a>
            </div>
        </div>
    </section>
    <router-outlet></router-outlet>
