section {
     /* background: url(../../assets/1018573.png); */
     width: 100%;
     margin-top: -20px;
     padding: 90px;
    }
    
    
    .text {
     color: goldenrod;
     font-size: 14px;
     font-weight: 100;
     line-height: 2px;
     margin: 20px 0 30px;
    }
    
    .form-group {
     width: 100%;
     overflow: hidden;
     font-size: 20px;
     padding: 28px 0;
     margin: 8px 0;
     border-bottom: 1px solid goldenrod;
     margin-left: 50px;
    }
    input {
     border: none;
     outline: none;
     background: none;
     font-size: 18px;
     width: 200px;
     float: left;
     margin: 0 10px;
     color: goldenrod;
    }
    
    .form-group em {
     width: 26px;
     text-align: center;
     color: #222;
     float: left;
    }
    
    
    .signup {
     margin-left: 270px;
     padding-top: 30px;
    }
    a {
     color: goldenrod;
     text-decoration: none;
     font-size: 19px;
    }
    a:hover {
     color: goldenrod;
    }
    
    .account {
     font-size: 18px;
     text-align: center;
     padding-right: 4%;
    }
    .btn {
   
      display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        max-width: 120px;
        /* margin-left: -30px; */
        width: 100%;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 5px;
        margin: 25px 45px;
        background-color:goldenrod;
        transition: all 0.3s linear;
        cursor: pointer;
    }
    .btn:hover {
      transform: scale(1.08);
    }
    
    .img {
      width: 600px;
      height: 300px;
      opacity: 1;
      display: flex;
      margin-left: 150px;
    }
    .container{
      display: flex;
    padding-left: 100px;
    border-radius: 10px;
    width: 500px;

    } 
    h3{
      font-size: 40px;
      padding-left: 30%;
      margin-top: -60px;
    }
    span{
      color: goldenrod;
    }
    .text-danger{
      color: red;
    }