
    <div class="wrapper">

        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>
    
        </div>
        <div class="about-container">
            
            <div class="image-container">
                <img src="../../assets/selectprop.jpg" alt="">
                
            </div>

            <div class="text-container">
                <h1>PROP TYPE</h1>
                <p>Select your preferred type of property</p><br>
                <a href="rental" class="rental">Rental Property</a>

                <a href="commercial" class="commercial">commercial spaces</a>
                 <a href="land" class="land">Land</a>
            </div>
            
        </div>
    </div>
    


