<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="applicationform" (ngSubmit)="application()">
            <div class="form-group">
                <label for="name" class='name'></label>
                <input type="text" placeholder="Enter your name" formControlName="name">
                <span class="text-danger" *ngIf="applicationform.controls.name.errors && applicationform.controls.name.touched"><br>Field cant be empty</span>
              </div>

              <div class="form-group">
                <label for="age" class='age'></label>
                <input type="number" placeholder="Enter your age" formControlName="age">
                <span class="text-danger" *ngIf="applicationform.controls.age.errors && applicationform.controls.age.touched"><br>Field cant be empty</span>
              </div>
<div class="form-group">
  <label for="gender" class="gender"></label>
  <input type="text" placeholder="Gender" formControlName="gender">
                <span class="text-danger" *ngIf="applicationform.controls.gender.errors && applicationform.controls.gender.touched"><br>Field cant be empty</span>
</div>   



          <div class="form-group">
            <label for="email" class='mail'></label>
            <input type="email" placeholder="Email Address" formControlName="email">
            <span class="text-danger" *ngIf="applicationform.controls.email.errors && applicationform.controls.email.touched"><br>Invalid Email Address</span>
          </div>

          <div class="form-group">
            <label for="phone" class='phone'></label>
            <input type="number" placeholder="Contact number" formControlName="phone">
            <span class="text-danger" *ngIf="applicationform.controls.phone.errors && applicationform.controls.phone.touched"><br>Field cant be empty</span>
          </div>

          <div class="form-group">
            <label for="marital" class='marital'></label>
            <input type="text" placeholder="Marital status" formControlName="marital">
            <span class="text-danger" *ngIf="applicationform.controls.marital.errors && applicationform.controls.marital.touched"><br>Field cant be empty</span>
          </div>

        <div class="form-group">
            <label for="tenant" class='tenant'></label>
            <input type="number" placeholder="Tenant count" formControlName="tenant">
            <span class="text-danger" *ngIf="applicationform.controls.tenant.errors && applicationform.controls.tenant.touched"><br>Enter the tenant count</span>
          </div>
         
          <div class="form-group">
            <label for="address" class='address'></label>
            <input type="text" placeholder="Your current Address" formControlName="address">
            <span class="text-danger" *ngIf="applicationform.controls.address.errors && applicationform.controls.address.touched"><br>Enter your Current Address</span>
          </div>


          <div class="form-group">
            <label for="occupation" class='occupation'></label>
            <input type="text" placeholder="Your occupation" formControlName="occupation">
            <span class="text-danger" *ngIf="applicationform.controls.occupation.errors && applicationform.controls.occupation.touched"><br>Specify your Problem</span>
          </div>
          <div class="form-group">
            <label for="annualincome" class='income'></label>
            <input type="text" placeholder="Your annual income" formControlName="annualincome">
            <span class="text-danger" *ngIf="applicationform.controls.annualincome.errors && applicationform.controls.annualincome.touched"><br>Enter your annual income</span>
          </div>
         
          <div class="text-center">
            <button id="submitButton" type="submit" class="btn btn-primary" routerLink="/dashboard">APPLY</button>
          </div>
         
          <div class="text-center text-success" *ngIf="successMessage">{{successMessage}}</div>
          
        </form>
      </div>
      <div class="img">
        <img src="../../assets/signupp.jpg" alt="home">
      </div>
    
    </div>
  </div>
  
  

