
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>CONTACT</h2>
				<!-- <input type="" class="field" placeholder="AKILA SRI"> -->
                <p>SURIYA SULTHANA BEGAM</p><br>
                <p>
 
 
                    <i class="fas fa-envelope"></i>suriyasulthana@gmail.com</p><br>
                    <p><i class="fas fa-phone-alt"></i>9876345109</p><br>
                    <p>A Decent 1BHK house with good interior designs and modular kitchen , 2 attached restrooms , beach view balcony and there are both 2 wheeler and 4wheeler parking facilities</p><br>
				<!-- <input type="text" class="field" placeholder="Your Email">
				<input type="text" class="field" placeholder="Phone"> -->
				<!-- <textarea placeholder="Message" class="field"></textarea> -->
				<!-- <button class="btn">APPLY</button> -->
				<a href="apply" class="apply">APPLY</a>

			</div>
		</div>
	</div>

