
<h3>SHAKE HANDS WITH THE <span>PROP-OWNERS</span></h3>
<body>
  <div class="cover">
  <div class="box">
    <img src="{{sample.upload}}" alt="upload">
    <h2>{{sample.address}}</h2>
    <p>
      <em class="fa fa-user"></em>
       {{sample.name}}<br>
     <em class="fa fa-envelope"></em>
     {{sample.email}}<br>
      <em class="fa fa-phone"></em> 
      {{sample.phone}}<br>
      <em class="fa fa-location-arrow"></em>
     {{sample.landmark}}<br>
      <em class="fa fa-credit-card"></em>
     {{sample.rent}}<br>
      <em class="fa fa-pen"></em>
      {{sample.description}}
      <!-- {{sample.rent}} -->
    </p>
  </div>
  </div>
</body>