<div class="heading">
  <h1 class="head"></h1>
 </div>
 <div class="dashboard">
  <div class="side-menu">
   <div class="brand-name">

   </div>

   <ul>
    <li>
     
    </li>
    <li class="post">
      <a href="dashpost">POSTED PROP</a>
    </li>
    <li class="queries">
    <a href="queries">QUERIES</a>
    </li>
    <li>
     
    </li>
    <li>
     
    </li>
   
   </ul>
  </div>

    <div class="container">
<a href="logout" class="logout">LOGOUT</a>

    <h2>DASHBOARD </h2>
        <div class="card hero">
          <div class="row row__one">
            <div class="col col__one hero__img">
            </div>
          </div>
          <div class="row row__two">
            <div class="col col__two">
              <h1 class="hero__title">GET <span class="hero__title--highlight">PROP</span> <br>A satisfied customer is our business .
              </h1>
              <p class="hero__text">
                With the ever-evolving online search behaviour, GET PROP shares updated information pertinent to real estate activities, assisting prospective buyers to make informed buying decision. We make online property search easier, quicker and smarter!
              </p>
            </div>
          </div>
        </div>
    </div>