/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.head {
  margin-left: 300px;
  color: goldenrod;
  padding: 20px;
}
.arrow {
  width: 40px;
}
img {
  padding-right: 10px;
}
.heading {
  /* background-color: #333; */
  /* padding: 10px; */
  /* height: 50px; */
  margin-top: -20px;
}

.containers {
  margin-left: 100px;
  background-color: #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}


.dashboard {
  display: flex;
  flex-direction: row;
}

.row {
  padding: 8px;
}
section {
  min-height: 100vh;
}


li {
  list-style: none;
}

h1,
h2 {
    color: goldenrod;


  /* color: rgb(223, 222, 222); */
}

.side-menu {
  background: #222;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: -70px;
  /* margin-left: -20px; */
}
.side-menu .brand-name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu li {
  font-size: 20px;
  padding: 10px 30px;
  color: #fff;
  display: flex;
  align-items: center;
}
.side-menu li:hover {
  background:transparent;
  color: goldenrod;
  transform: scale(1.08);
}
.icon2 {
  color: #fff;
  width: 30px;
}
.icon4 {
  width: 30px;
}
.icon5 {
  width: 35px;
}

a {
  color: #fff;
  text-decoration: none;

}

.logout {
  margin-top: 90px;
}



.container {
  margin: 0 auto;
  width: 55%;
  /* padding-top: -70%; */
  text-align: center;
  margin-top: -60px;
}

.card {
  background-color:#333;
  margin-top: 4rem;
  border-radius: 0 0 8px 8px;
}

.hero__img {
  width: 100%;
  min-height: 30vh;
  background-color: var(--color-accent);
  background-image: url("../../assets/admin.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 8px 8px 0 0;
}

.col__two {
  margin: 2rem auto;
  width: 80%;
}

.hero__title {
  font-size: 1.6rem;
  color:  hsl(0, 0%, 100%);
  line-height: 1.2;
}

.hero__title--highlight {
  color: goldenrod;
}

.hero__text {
  margin: 1.3em auto;
  font-size: 0.9rem;
  color:  hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
}

.col__three {
  padding-bottom: 2rem;
}

.hero__stat {
  color:  hsl(0, 0%, 100%);
}

.hero__stats__heading {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.7rem;
  margin: 0.5em 0 1.4em 0;
}

.attribution {
  margin-top: 3rem;
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

