<h3>CHOOSE THE <span>TYPE OF PROP</span></h3>
   
     <div class="main">
    
       
       <div class="card">
       
       <div class="image">
          <img src="../../assets/house1.jpg" alt="land">
       </div>
       <div class="title">
       
       </div>
       <div class="des">
        <p>All Types of houses ranging from 1BHK,2BHK,3BHK...</p><br>
      <a href="rental" class="serviceform">RENTED HOUSE</a>
       </div>
       </div>
       
       
       <div class="card">
       
       <div class="image">
          <img src="../../assets/comm4.jpg" alt="land">
       </div>
       <div class="title">
       
       </div>
       <div class="des">
        <p>Need Commercial Spaces For Rent..?</p><br>
      <a href="commercial" class="serviceform">COMMERCIAL</a>
       </div>
       </div>
       
       
       <div class="card">
       
       <div class="image">
          <img src="../../assets/land1.jpg" alt="land">
       </div>
       <div class="title">
  
       </div>
       <div class="des">
        <p>Own a Land Today !!</p><br>
      <a href="land" class="serviceform">LAND</a>
       </div>
       </div>