<h1>HAVE TO BUY PROPERTY...?</h1><br>
<h3>CHOOSE THE TYPE OF PROP</h3>
    
     <div class="main">
    
       
       <div class="card">
       
       <div class="image">
          <img src="../../assets/house1.jpg">
       </div>
       <div class="title">
        <h1>
       BUILT PROPERTY</h1>
       </div>
       <div class="des">
        <p>All Types of houses ranging from 1BHK,2BHK,3BHK...</p><br>
      <!-- <a href="serviceform" class="serviceform">GET HELP</a> -->
      <a href="rental" class="serviceform">BUY</a>
      <a href="sell" class="serviceform">SELL</a>
       </div>
       </div>
       <!--cards -->
       
       
       <div class="card">
       
       <div class="image">
          <img src="../../assets/comm4.jpg">
       </div>
       <div class="title">
        <h1>
       COMMERCIAL</h1>
       </div>
       <div class="des">
        <p>Need Commercial Spaces For Rent..?</p><br>
      <a href="commercial" class="serviceform">BUY</a>
      <a href="sell" class="serviceform">SELL</a>
       </div>
       </div>
       <!--cards -->
       
       
       <div class="card">
       
       <div class="image">
          <img src="../../assets/land1.jpg">
       </div>
       <div class="title">
        <h1>
       LAND</h1>
       </div>
       <div class="des">
        <p>Own a Land Today !!</p><br>
      <a href="land" class="serviceform">BUY</a>
      <a href="sell" class="serviceform">SELL</a>
       </div>
       </div>